html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.iamge-phone {
  /* -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; */
  background-position: -46px 0;
  background-size: 468.32px 634.15px;
  -webkit-flex-basis: 380.32px;
  -ms-flex-preferred-size: 380.32px;
  flex-basis: 380.32px;
  height: 581.15px;
  background-image: url("/images/login/download.png");
  margin-right: 32px;
  margin-bottom: 12px;
}
.line-sm {
  line-height: 18px;
}
.hide-image {
  height: 538.84px;
  left: 0;
  opacity: 0;
  /* position: absolute; */
  top: 0;
  visibility: hidden;
  width: 250px;
}

.fide-in,
.fide-out {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  visibility: visible;
}

.fide-in {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
  z-index: 2;
}

.float-label {
  transform: scale(0.714) translateY(-16px);
}
.text-color-black {
  color: #262626;
}

.show-model {
  animation: showModel 0.1s ease-out;
}

@keyframes showModel {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tooltip {
  position: absolute;

  margin-left: -12px;
  width: 24px;
  height: 12px;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;

  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
  filter: drop-shadow(rgba(0, 0, 0, 0.42) 0px 0px 0.75px)
    drop-shadow(rgba(0, 0, 0, 0.18) 0px 1px 0.5px)
    drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 3px);
}

.no-outline-on-focus:focus {
  outline: none;
}

.insta-gr {
  background: linear-gradient(
    145deg,
    rgba(196, 0, 146, 1) 0%,
    rgba(228, 0, 49, 1) 100%
  );
}

.drop-fr {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.0975));
}

.filter-shd {
  filter: drop-shadow(rgba(0, 0, 0, 0.42) 0px 0px 0.75px)
    drop-shadow(rgba(0, 0, 0, 0.18) 0px 1px 0.5px)
    drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 3px);
}
